<h2>商品一覧</h2><br/>


<p><%= link_to "商品新規登録", new_admin_item_path %></p>


<table>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル名</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item) %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td>
        <% if item.is_released == true %>
          <span>販売中</span>
        <% else %>
          <span>販売停止中</span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>