<h2>管理者専用ログイン</h2>

<%#= form_with model: @admin, url: admin_session_path, local: true do |f| %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <!--ここの部分がencrypted_passwordでもpasswordでもうまくいかない-->
    <!--Completed 401 Unauthorized in 1ms (ActiveRecord: 0.0ms)が出る-->
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <!--なぜかログインできない-->

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
