<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <nav>

        <nav-left><%= link_to "NaganoCake", root_path %></nav-left>

        <nav-right>
          <% if customer_signed_in? %>
            <ol><%= link_to "マイページ", customers_my_page_path %></ol>
            <ol><%= link_to "商品一覧", items_path %></ol>
            <ol><%#= link_to "カート", %></ol>
            <ol><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></ol>
          <% elsif admin_signed_in? %>
            <ol><%= link_to "商品一覧", admin_items_path %></ol>
            <ol><%= link_to "会員一覧", admin_customers_path %></ol>
            <ol><%#= link_to "注文履歴一覧", %></ol>
            <ol><%= link_to "ジャンル一覧", admin_genres_path %></ol>
            <ol><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></ol>
          <% else %>
            <ol><%= link_to "商品一覧", items_path %></ol>
            <ol><%= link_to "新規登録", new_customer_registration_path %></ol>
            <ol><%= link_to "ログイン", new_customer_session_path %></ol>
          <% end %>
        </nav-right>

      </nav>

    </header>





    <main>
    <%= yield %>
    </main>





    <footer>

    </footer>
  </body>
</html>
